<!DOCTYPE html>

<html lang="en">

<body>
	<h1>Welcome to Spring boot API</h1>
    <h3>There are two hardcoded users: 1)login: test, password: test; 2)login: publisher, password: test</h3>
    <h4>All methods can be tested using the class "RestClient.java" that is located in "client" package</h4>
	<h4>Example of use API</h4>
	<p><a href="/api/posts">/api/posts - list of all posts</a></p>
	<p><a href="/api/posts/62">/api/posts/62 - post with id = 62</a></p>
    <p><a href="/api/posts?own=true">list of all own posts</a></p>
	<p>/api/posts - "post" method for adding new post</p>
	<p>/api/posts - "put" method for updating exists post</p>
	<p>/api/posts/{id} - "delete" method for delete post</p>
</body>

</html>